{% block page_content %}
<!--<h1>Projects</h1>-->
<div class="row my-auto">
              <div class="col-12">
                <h2 class="  text-center">Projects</h2>
<!--                <div class="mb-5 heading-border"></div>-->
              </div>
              <div class="col-md-12">
                <div class="port-head-cont">
                  <button class="btn btn-general btn-green filter-b" data-filter="all">All</button>
                  <button class="btn btn-general btn-green filter-b" data-filter="iot">Embedded Systems</button>
                  <button class="btn btn-general btn-green filter-b" data-filter="ml">Machine Learning</button>
                  <button class="btn btn-general btn-green filter-b" data-filter="desktop">Desktop App</button>
                  <button class="btn btn-general btn-green filter-b" data-filter="mobile">Mobile Apps</button>
<!--                  <button class="btn btn-general btn-green filter-b" data-filter="marketing">Web Development</button>-->

                </div>
              </div>
          </div>
<!--    <div class="col-3">-->
<!--                <div class="mb-5 heading-border"></div>-->
<!--    </div>-->

{% endblock %}